<!-- Etiqueta de apertura que especifica el tipo de documento -->
<!DOCTYPE html>
<html lang="es">
  <head>
    <link rel="shortcut icon" href="resources/store-front.png" type="image/x-icon"/>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Tienda de ropa online donde podras comprar ropa, calzado, playeras, pantalones y mucho más" />
    <meta name="keywords" content="Tienda, Tienda online, playeras, pantalones, compra ropa en linea" />
    <meta name="robots" content="noindex, nofollow" />
    <title>Playeras</title>
    <link rel="stylesheet" href="resources/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="resources/scss/Bootstrap5.css" />
    <link rel="stylesheet" href="resources/css/style.css" />
    <link rel="stylesheet" href="resources/css/products.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-dark">
      <div class="container-fluid">
        <div class="cart">
          <a href="/Carrito-de-compras">
              <i class="bi bi-cart4 SVG-icon"></i>
              <span id="Cart_counter">0</span>
          </a>
      </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <div class="li-style">
                <% if( user == "admin") { %>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin_page">Administrador</a>
                </li>
                <% } %>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="/Calzado">Calzado</a></li>
                <li class="nav-item"><a class="nav-link" href="/Playeras">Playeras</a></li>
                <li class="nav-item"><a class="nav-link" href="/Pantalones">Pantalones</a></li>
                <li class="nav-item"><a class="nav-link" href="/Ropa-interior">Ropa interior</a></li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >Cuenta</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/logout">Cerrar Sesión</a></li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="/Sobre-nosotros">Más Información</a></li>
              </div>
            </ul>
          </div>
      </div>
    </nav>
    <!-- Defininmos el encabezado del sitio -->
    <header>
      <h1>Novedades Luz y Zapateria</h1>
      <!--Define el titulo principal de la pagina para los buscadores-->
    </header>
    <!--Inserta un salto de linea o de bloque -->
    <div class="divider"></div>
    <!-- Definimos el contenido principal de la pagina -->
    <main>
      <div class="empty" id="empty">
        <img src="resources/img/vacio.png" alt="Por el momento no hay ningun producto">
        <p>Por el momento no hay ningun producto</p>
      </div>
      <div class="alert-n" id="alert-n"></div>
      <section class="Product-list" id="Product-list">

      </section>
    </main>

    <!-- Agrega pie de pagina a la pagina web -->
    <footer>
      <a href="/Contacto" target="_blank">contacto</a>
      <div class="divider" style="width: 80%; margin-bottom: 1em;"></div>
      <span class="span">
       <!--Agregaos parrafo a la pagina web -->
       Somos una tienda de moda que ofrece una amplia gama de ropa y
       calzado de alta calidad a precios accesibles. Nos esforzamos por
       proporcionar una experiencia de compra confiable y
       satisfactoria, manteniéndonos al día con las últimas tendencias.
      </span>
      <span>
       <br>
        <i class="bi bi-facebook"></i>
        <i class="bi bi-twitter"></i>
        <i class="bi bi-instagram"></i>
        <br><br>
      </span><br>
       <div class="down">
         <p>© 2024 Copyright &nbsp; Novedades Luz y Zapatería</p>
       </div>
     </footer>

    <!-- Agregamos el script para un mejor funcionamiento -->
    <script src="resources/js/t_shirts.js"></script>
    <script src="resources/js/cart_service.js" defer></script>
    <script src="resources/js/Bootstrap5.js"></script>

    <script src="resources/js/SweetAlert2.js"></script>
    <% if(typeof alert != "undefined") { %>
     <script>
         Swal.fire({
             title: '<%= alertTitle %>',
             text: '<%= alertMessage %>',
             icon: '<%= alertIcon %>',
             showConfirmButton: <%= showConfirmButton %>,
             timer: <%= timer %>
         }).then(() => {
             window.location = '/<%= ruta %>'
         })
     </script>
     <% } %>
  </body>
</html>
